@page "/"

@using Microsoft.AspNetCore.Identity
@using kokos.Data
@using kokos.Components.Account

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>

        @if (isDoctor)
        {
            <p>Hello Doctor!</p>
        }
        else if(isPatient)
        {
            <p>Hello Patient!</p>
        }
        else
        {
            <p>Hello User!</p>
        }

    </Authorized>
    <NotAuthorized>
        <p>You are not signed in.</p>
    </NotAuthorized>
</AuthorizeView>


@code
{
    private string? message;
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private bool isDoctor = false;
    private bool isPatient = false;

    protected override async Task OnInitializedAsync()
    {
        if (SignInManager.IsSignedIn(HttpContext.User))
        {
            user = await UserAccessor.GetRequiredUserAsync(HttpContext);

            isDoctor = await UserManager.IsInRoleAsync(user, "Doctor");
            isPatient = await UserManager.IsInRoleAsync(user, "Patient");
            Console.WriteLine("isDoctor: " + isDoctor);
        }
    }

    
}