@page "/"

@using Microsoft.AspNetCore.Identity
@using kokos.Data
@using kokos.Components.Account
@using kokos.Models
@using Microsoft.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject ApplicationDbContext DbContext
@inject DbHelperMethods db;

<style>
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
    }

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    .container input:checked~.checkmark {
        background-color: #9e4caf;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked~.checkmark:after {
        display: block;
    }

    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    .modern-button {
        background-color: #9e4caf;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .modern-button:hover {
        background-color: #7b3790;
    }
</style>

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>

        @if (isDoctor)
        {
            <h1>Hej!</h1>
        }
        else if (isPatient)
        {
            <h1>Hej!</h1>
            <h2>Oto twoje leki:</h2>
            <form @onsubmit="@SaveMedications">
                @foreach (var medication in medList)
                {
                    <div>
                        <label class="container">@medication.Name
                            <input type="checkbox" checked="@medication.Taken" @onchange="(e) => ToggleTaken(e, medication)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                }
                <button type="submit" class="modern-button">Save</button>
            </form>
        }
        else
        {
            <h1>Hej! </h1>
        }

    </Authorized>
    <NotAuthorized>
        <p>Hej! Nie jestes zalogowany</p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private ApplicationUser user = default!;
    List<Medication> medList = new();

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private bool isDoctor = false;
    private bool isPatient = false;

    protected override async Task OnInitializedAsync()
    {
        if (SignInManager.IsSignedIn(HttpContext.User))
        {
            user = await UserAccessor.GetRequiredUserAsync(HttpContext);
            isDoctor = await UserManager.IsInRoleAsync(user, "Doctor");
            isPatient = await UserManager.IsInRoleAsync(user, "Patient");

            if (isPatient)
            {
                medList = db.GetPatientMeds(user.Id);
            }
        }
    }

    private void ToggleTaken(ChangeEventArgs e, Medication medication)
    {
        medication.Taken = (bool)e.Value;
    }

    private async Task SaveMedications()
    {
        @* Console.WriteLine($"Taken: {med.Taken}"); *@
        foreach (var med in medList)
        {

            db.EditMed(med);
        }

        // Optional: Display a success message or refresh the list
    }
}
